# Welcome to our Lab Practice!

Activity provider: University of Colorado, Boulder

This lab is about variables, assignments, and their value and data types. Are you ready? Let's get started!

You will find some small tasks in sections below.

## Value assignment

###Task: assign **x** with an int 5.

Use print() and type() to check the value is correctly assigned, and the data type is correct. For example: print('x:', x, type(x))

In [34]:
# type your code here
x = 5
print(f"x: {x}" , type(x))

x: 5 <class 'int'>

###Task: assign **int_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [35]:
# type your code here
int_x = x
print(f"x: {x}, {type(x)}")
print(f"int_x: {int_x}", type(int_x))

x: 5, <class 'int'>
int_x: 5 <class 'int'>

###Task: assign **x** with a float 5.0.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [25]:
# your code will be here
x = 5.0
print(f"x: {x}", type(x))

x: 5.0 <class 'float'>

###Task: assign **float_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [27]:
# your code will be here
float_x = x
print(f"float_x: {float_x}", type(float_x))

float_x: 5.0 <class 'float'>

###Task: assign **x** with a str '5'.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [28]:
# your code will be here
x = '5'
print(f"x: {x}", type(x))

x: 5 <class 'str'>

###Task: assign **str1_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [29]:
# your code will be here
str1_x = x
print(f"str1_x: {str1_x}", type(str1_x))

str1_x: 5 <class 'str'>

###Task: assign **x** with a str '5.0'.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [52]:
# your code will be here
x = '5.0'
print('x:',x, type(x))

#note: can use comma to separate multiple values to be printed

x: 5.0 <class 'str'>

###Task: assign **str2_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [9]:
# your code will be here
str2_x = x
print(str2_x, type(str2_x))

5.0 <class 'str'>

###Task: check all variables.

Use print() and type() to check all the variables you created so far: **x, int_x, float_x, str1_x, str2_x** value and data types.

In [51]:
# your code will be here
variables = {'x': x, 'int_x': int_x, 'float_x': float_x, 'str1_x': str1_x, 'str2_x': str2_x}

for name, value in variables.items():
    print(f"{name}: {value}:{type(value)}")

#note: "name" should be conventionally used or there would be wrong result ( using "key" will result to unwanted results)
# value is replaceable with any variable, yet it will return the same expected result

x: 5.0:<class 'str'>
int_x: 5:<class 'int'>
float_x: 5.0:<class 'float'>
str1_x: 5:<class 'str'>
str2_x: 5.0:<class 'str'>

## Value converting

For the task below, convert data value from one type to another, assign it to x, and use print() and type() to check for correctness.

###Task: convert a str '0' to int

In [13]:
# your code will be here
x = int('0')
print(x, type(x))

0 <class 'int'>

###Task: convert a float 0.1 to int

In [14]:
# your code will be here
x = int(0.1)
print(x, type(x))

0 <class 'int'>

###Task: convert a str '0' to float

In [15]:
# your code will be here
x = float('0')
print(x, type(x))

0.0 <class 'float'>

###Task: convert an int 0 to float

In [16]:
# your code will be here
x = float(0)
print(x, type(x))

0.0 <class 'float'>

###Task: convert an int 0 to str

In [17]:
# your code will be here
x = str(0)
print(x, type(x))

0 <class 'str'>

###Task: convert a float 0.1 to str

In [18]:
# your code will be here
x = str(0.1)
print(x, type(x))

0.1 <class 'str'>